// 全局 CSS 变量
@use './variables.scss' as *;
// Transition
@use './transition.scss' as *;
// Element Plus
@use './element-plus.scss' as *;
// reset css
@use './reset.scss' as *;

html {
    font-size: 192px;
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
