// 全局 CSS 变量
@import './variables.scss';
// Transition
@import './transition.scss';
// Element Plus
@import './element-plus.scss';

// reset css
@import './reset.scss';

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
