/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
:root {
    --plm-sidebar-width: 300px;
    --plm-hide-sidebar-width: 120px;
    --plm-header-height: 64px;
    --plm-hamburger-height: 90px;
    --plm-hamburger-width: 20px;
    --plm-menu-item-height: 48px;
    --plm-breadcrumb-height: 44px;
    --plm-footer-height: 30px;
}

/** font-size*/
$mini: 12px;
$small: 14px;
$normal: 16px;
$big: 18px;
$x-big: 20px;
$xx-big: 24px;
$xxx-big: 36px;
$large: 60px;
/** color*/
$white: #ffffff;
$black: #000000;
$grey: #f4f4f5;
$darke-yellow: #e7d000;
