/** 全局 CSS 变量，这种变量不仅可以在 CSS 和 SCSS 中使用，还可以导入到 JS 中使用 */
:root {
    --plm-side-width: 300px;
    --plm-hide-side-width: 120px;
    --plm-header-height: 64px;
    --plm-hamburger-height: 90px;
    --plm-hamburger-width: 20px;
    --plm-menu-item-height: 48px;
    --plm-breadcrumb-height: 44px;
    --plm-footer-height: 30px;
}

/** font-size*/
$font-12: 12px;
$font-normal: 14px;
$font-16: 16px;
$font-20: 20px;
$font-18: 18px;
$font-24: 24px;
$font-36: 36px;
$font-60: 60px;

/** spaces*/
$space-4: 4px;
$space-5: 5px;
$space-7: 7px;
$space-10: 10px;
$space-14: 14px;
$space-17: 17px;
$space-20: 20px;
$space-24: 24px;
$space-25: 25px;
$space-26: 26px;
$space-30: 30px;
$space-40: 40px;
$space-42: 42px;
$space-50: 50px;
$space-60: 60px;
$space-68: 68px;
$space-72: 72px;
$space-75: 75px;
$space-100: 100px;

/** colors*/
/** 黑色*/
$black: #000000;
$light-black: #222222;
$dark-black: #030305;
$extra-light-black: #54545b;
$tabs-color: #525659;
/** 白色*/
$white: #ffffff;
$dark-white: #f1f1f1;
/** 黄色*/
$darker-yellow: #c7ab01;
$darke-yellow: #e7d000;
$yellow: #efdf38;
/** 绿色*/
$darker-green: #46845d;
$darke-green: #3da865;
$green: #6da02a;
$light-green: #95f3bd;
/** 红色*/
$red: #a8212e;
/** 灰色*/
$base-grey: #979797;
$grey: #f7f7f7;
$light-grey: #f3f3f3;
$deep-grey: #f5f6f7;
$dark-grey: #fafafa;
$font-color: #525659;
$lighter-grey: #e6e9ed;
$shallow-grey: #dedede;
/** 蓝色*/
$darker-blue: #00283e;
$darke-blue: #003a5a;
$blue: #0078b6;
$lighte-blue: #007ec7;
$lighter-blue: #318ae7;
$extra-light-blue: #008ace;
$black-blue: #51bcf1;
